{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>图说理工 | 审核</title>
    <link rel="stylesheet" href="{% static 'css/lightgallery.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/images.css' %}">
</head>

<body>
<h1>图说理工 | 审核</h1>
<h2>{{ user.username }}的个人资料</h2>
<div style="margin-left: 31%">
    {% if action == 'org' %}
        <span data-shadow-text="">组织名字:{{ org.name }}</span><br/>
        <span data-shadow-text="">指导老师:{{ org.teacher }}</span><br/>
        <span data-shadow-text="">认证图片:</span><br>
        <img src="{{ MEDIA_URL }}{{ org.image.url }}" width="745px">
    {% else %}
        <span data-shadow-text="">真实姓名:{{ user.real_name }}</span><br/>
        <span data-shadow-text="">专业班级:{{ user.p_class }}</span><br/>
        <span data-shadow-text="">腾讯账号:{{ user.qq }}</span><br/>
        <span data-shadow-text="">手机号码:{{ user.mobile }}</span><br/>
        <span data-shadow-text="">身份证照:</span><br>
        <img src="{{ MEDIA_URL }}{{ user.id_card.url }}" width="745px">
    {% endif %}
</div>
<h2>{{ user.username }}的作品集</h2>
<div id="lightgallery" style="margin-left: 7%;">
    {% for image in images %}
        <a href="{{ image.image.url }}">
            <img src="{{ image.image.avatar.url }}">
        </a>
    {% endfor %}
</div>

<h2>{{ user.username }}的审查结果</h2>
<form action="{% url 'check' %}" method="post" style="margin-left: 33%">
    <div class="radios-boxes">
        <div class="radios">
            <input type="radio" name="radio" id="radio1" class="radio" value="n">
            <input type="radio" name="radio" id="radio2" class="radio" value="y">
            <div class="ball"></div>
        </div>
        <div class="labels">
            <label for="radio1" name="res" class="label">不通过审核</label>
            <label for="radio2" name="res" class="label">通过审核</label>
        </div>
    </div>
    <input name="user" value="{{ user.id }}" hidden="hidden"/>
    <input name="action" value="{{ action }}" hidden="hidden" />
    <div class="wrap">
        <button href="#" class="button submit" type="submit">提交!</button>
    </div>

    {% csrf_token %}
</form>


<script src="{% static 'js/lightgallery.min.js' %}"></script>
<script>
    lightGallery(document.getElementById('lightgallery'));
</script>
<script>
    var radios = document.querySelectorAll('.radio');
    var labels = document.querySelectorAll('.label');
    var ball = document.querySelector('.ball');
    var prevRadio, prevLabel;
    radios.forEach((radio, index) => {
      radio.addEventListener('click', function(e) {
        if (prevRadio) prevRadio.classList.toggle('active');
        if (prevLabel) prevLabel.classList.toggle('active');
        radio.classList.toggle('active');
        prevRadio = radio;
        labels[index].classList.toggle('active');
        prevLabel = labels[index];
        ball.className = `ball pos${index}`;
      });
    });
</script>
</body>

</html>
