{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-hans">
<head>
<title>MOBAN</title>
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="App Loction Form,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements"./>
</head>
<body>
	<h1>图说理工 | 修改密码</h1>
		<div class="app-location">
        {% if not msg %}
			<h2>请输入新密码</h2>
			<div class="line"><span></span></div>
        {% endif %}
        {% if not msg %}
			<form action="{% url 'new_pwd' %}" method="post">
                <input type="hidden" name="id" value="{{ id }}">
				<input type="password" name="password1" value="" placeholder="请输入新密码">
				<input type="password" name="password2" value="" placeholder="请确认新密码">
        {% endif %}
        {% if msg %}
            <h2>{{ msg }}</h2>
        {% elif error %}
            <h2>{{ error }}</h2>
        {% endif %}
				    <a class="submit" href="{% url 'index' %}"><input type="submit" value="确认" ></a>
        {% if not msg %}
				<div class="clear"></div>
				<div class="new">
{#					<h4><a href="{% url 'index' %}">回到首页</a></h4>#}
					<div class="clear"></div>
				</div>
            {% csrf_token %}
			</form>
        {% endif %}
		</div>
</body>
</html>