.billboard{
  width: 100%;
  background: #f7fafb;
  padding: 2rem 0;

}
.billboard .person-card-item-wrap{
  min-height: 700px;
}
.billboard .billboard-item{
  height: 15rem;
  margin: 3rem 5rem;
  padding:2rem;
  background: #fff;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items:center;
  flex-wrap:wrap;
  transition: all 0.5s;
}
.billboard .billboard-item:hover{
  box-shadow: 2px 2px 12px #e0e0e0;
}
.billboard .billboard-item:after{
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}
.billboard .card-left{
  width: 47%;
  display: flex;
}
.billboard .person-downloads,.person-information{
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction:column;
  height: 100%;
}
.billboard .person-downloads{
  width: 10rem;
  justify-content: flex-end;
}
.billboard .profile-photo{
  margin-left: 3rem;
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
}
.billboard .person-information{
  text-align: left;
  padding-left: 1.5rem;
}
.billboard .person-works {
  height: 100%;
  display: flex;

  flex-wrap:wrap;
}
.billboard .person-works img{
  margin-left: 1rem;
}
.billboard .id-info{
  line-height: 3rem;
}
.billboard .username{
  font-size: 1.5rem;
}
.billboard .identify{
  color: #fbe951;
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
.billboard .identify img{
  width: 1.5rem;
  /*padding-top: 1rem;*/
}
.billboard .brief-introdution{
  color: #cecece;
}
.billboard .follow-button,.download-info{
  padding: 2rem 0 0;
}
.billboard .person-card-follow{
  padding: 0.25rem!important;
  color: #fff;
  background: #9ad4e2;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 1.25rem;
  width: 6rem;
}
.billboard .rank{
  line-height: 4rem;
  font-size: 4rem;
}
.billboard .person-card-image{
  height: 100%;
}

